<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント登録</title>
</head>
<body>
	<h1>アカウント登録</h1>
	<form th:action="@{/accounts}" method="post">
		登録名: <input type="text" name="name" th:value="${name}"><br>
		<button type="submit">登録</button>
	</form>
	
	<h2>登録済みアカウント</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>登録名</th>
		</tr>
		<tr th:each="account : ${accounts}">
			<td th:text="${account.id}"></td>
			<td th:text="${account.name}"></td>
		</tr>

</body>
</html>