<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>家計簿一覧</title>
</head>
<body>

<h1>家計簿一覧</h1>

<form th:action="@{/expenses}" method="get">
    <input type="number" name="year" th:value="${selectedYear}" />
    <input type="number" name="month" th:value="${selectedMonth}" min="1" max="12" />
    <button type="submit">表示</button>
</form>

<table border="1">
    <tr>
        <th>ID</th>
        <th>金額</th>
        <th>種別</th>
        <th>日付</th>
        <th>メモ</th>
    </tr>

    <tr th:each="expense : ${expenses}">
        <td th:text="${expense.id}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.type}"></td>
        <td th:text="${expense.date}"></td>
        <td th:text="${expense.memo}"></td>
    </tr>
</table>

<p>支出合計: <span th:text="${totalExpense}"></span></p>
<p>収入合計: <span th:text="${totalIncome}"></span></p>

<form th:action="@{/expenses}" method="post">

    金額: <input type="number" name="amount"><br>

    種別:
    <select name="type">
        <option value="EXPENSE">支出</option>
        <option value="INCOME">収入</option>
    </select><br>

    日付: <input type="date" name="date"><br>

    メモ: <input type="text" name="memo"><br>

    <button type="submit">保存</button>
</form>



</body>
</html>